*{
    margin: 0px;
    padding: 0px;
}
body{
    background: #00043A;
}
h1{
    background:blue ;
    width:50% ;
    text-align: center;
    display: block;
    margin: auto;
    font-size: 100px;
    border-radius: 10px;
}
.reproductor{
    position: relative;
    width:400px ;
    z-index:1;
    margin: auto;
    display: block;
    top:-450px;
}
.foto{
    position: relative;
    margin: auto;
    display: block;
    z-index: 2;
    top: 54px;
}
#boton{
    position: relative;
    vertical-align: top;
    background-color: #00ff04ff;
    border: 5px solid #00ff04ff;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    z-index: 2;
    top:50px ;
    margin-right: auto;
    margin-left: auto;
    display: block;
}
#botoncito{
    margin-left: 01px;
    margin-top: 0px;

}
p{
    line-height:200%;
    text-align:center;
    font-size:170%;
    color:white;
    width:30%;
    max-width:1000px;
    margin: -400px auto;
    text-shadow:1px 3px #139FA7,2px 0px red, 7px 7px black;
    position: relative;
    z-index: 2;
}
#particles-js {
    height: 100vh; 
    width: 100%;
    position: fixed;
    z-index: 1;
}
.mw {
    background:#26B1D3;
    padding:5px 5px;
    color:white;
    text-align:center;
    font-size:100px;
    margin:30px auto;
    font-family:arial black;
    text-shadow:0px 8px green,-5px 0px #6D00FF;
    z-index: 3;
}
.mlc{
    background:#EEC551;
    padding:5px 5px;
    color:white;
    text-align:center;
    font-size:100px;
    margin:30px auto;
    font-family:arial black;
    text-shadow:0px 8px orange,-5px 0px aqua;
    z-index: 3;
}
.kk {
    background:#00FFFD;
    padding:5px 5px;
    color:white;
    text-align:center;
    font-size:100px;
    margin:30px auto;
    font-family:arial black;
    text-shadow:0px 8px red,-5px 0px #6D00FF;
    z-index: 3;
}
.s{
    background:#D1D000;
    padding:5px 5px;
    color:white;
    text-align:center;
    font-size:100px;
    margin:30px auto;
    font-family:arial black;
    text-shadow:0px 8px #9CC340,-5px 0px #875400;
    z-index: 3;
}
.casa{
    display: block;
    margin: 0px auto;
    position: relative;
    z-index: 2;
    top: 130px;
    transition:transform .2s;
}
.casa:hover{
    transform: scale(1.2);
    transform: rotate(360deg);
}
@media (max-width:800px){
    p{
        width:80%;
    }
    #bb{
        position: relative;
        display: block;
        margin-right: auto;
        margin-left: auto;

    }
    .mw{
        width: 400px;
        font-size: 65px;
    }
    .s{
        width: 400px;
        font-size: 65px;
    }
    .mlc{
        width: 400px;
        font-size: 65px;
    }
}
