* {
    margen : 0 px ;
    relleno : 0 px ;
}
cuerpo {
    fondo : # 00043A ;
}
h1 {
    ancho : 50 % ;
    alineación de texto : centro;
    pantalla : bloque;
    margen : automático;
    tamaño de fuente : 100 px ;
    radio del borde : 10 px ;
}
. reproductor {
    posición : relativa;
    ancho : 400 px ;
    índice z : 1 ;
    margen : automático;
    pantalla : bloque;
    superior : -300px;
}
. foto {
    posición : relativa;
    margen : automático;
    pantalla : bloque;
    índice z : 2 ;
    superior : 77 px ;
}
# boton {
    posición : relativa;
    alineación vertical : superior;
    color de fondo : # 00ff04ff ;
    borde : 5 px sólido # 00ff04ff ;
    radio de borde : 50 % ;
    esquema : ninguno;
    cursor : puntero;
    índice z : 2 ;
    superior : 685 px ;
    margen izquierdo : 50 % ;
}
# botoncito {
    margen izquierdo : 0 px ;
    margen superior : 0 px ;

}
p {
    altura de línea : 200 % ;
    alineación de texto : centro;
    tamaño de fuente : 170 % ;
    color : blanco;
    ancho : 30 % ;
    ancho máximo : 1000 px ;
    margen : -250px automático;
    texto-sombra : 1 px  3 px  # 139FA7 , 2 px  0 px rojo ,  7 px  7 px negro;
    posición : relativa;
    índice z : 2 ;
}
# partículas-js {
    altura : 100 vh ;
    ancho : 100 % ;
    posición : fija;
    índice z : 1 ;
}
h1 {
    fondo : # 26B1D3 ;
    relleno : 5 px  5 px ;
    color : blanco;
    texto alineado : centro;
    tamaño de fuente : 100 px ;
    margen : 30 px automático;
    familia de fuentes : arial black;
    texto-sombra : 0 px  8 px verde , -5 px 0 px  # 6D00FF ;
    índice z : 3 ;
}
. casa {
    pantalla : bloque;
    margen : 0 px automático;
    posición : relativa;
    índice z : 2 ;
    transición : transformar .2 s ;
}
. casa : hover {
    transformar : escala ( 1.2 );
    transformar : rotar ( 360 grados );
}
